<% include partials/header %>

    <title>Editar Producto - Noah</title>
    <link rel="stylesheet" href="/stylesheets/user.css">

<% include partials/nav %>

    <div class="container">
                <div class="main">
                    <div class="greeting">
                        <h1>Editar Producto</h1>
                        <form class="upload-form" action="/<%= product._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                            <input type="file" id="image" name="image" accept="image/png, image/jpeg" class="d-none">
                            <img id="product-image" src="<%= product.image %>">
                            <label id="image-label" for="image">Selecciona nueva imagen</label>
                            <input type="text" name="description" value="<%= product.description  %>">
                            <input type="text" name="serial" value="<%= product.serial  %>">
                            <input type="number" name="price" value="<%= product.price %>" min="0" step="1">
                            <select name="type">
                                <option value="" hidden selected>Tipo</option>
                                <option value="stone-ring">Anillo de Piedra</option>
                                <option value="letter-ring">Anillo con Inicial</option>
                                <option value="letter-bracelet">Pulsera de Piedra</option>
                                <option value="stone-bracelet">Pulsera con Inicial</option>
                                <option value="earring">Aro</option>
                                <option value="stone-necklace">Colgante de Piedra</option>
                                <option value="letter-necklace">Colgante con Inicial</option>
                                <option value="name-necklace">Colgante con Nombre</option>
                                <option value="rhodochrosite-stone">Piedra: Rodocrosita</option>
                                <option value="onix-stone">Piedra: Onix</option>
                            </select>
                            <input type="submit" value="Actualizar">
                        </form>
                        <button class="back"><a href="/productos">Atrás</a></button>
                    </div>
                </div>
            </div>

<% include partials/footer %>