<% layout('layouts/boilerplate') -%>

<h1>Esta es la página de inicio</h1>

<% products.forEach(product => { %>
	<div>
		<img src="<%=product.image.url %>" alt="Imagen de Producto">
		<ul>
			<li><%= product.type %></li>
			<li><%= product.description %></li>
			<li><%= product.minorPrice %></li>
			<li><%= product.mayorPrice %></li>
		</ul>
	</div>
	<% if (currentUser) { %>
		<form action="/productos/<%= product._id %>?_method=DELETE" method="POST">
			<button>Delete</button>	
		</form>
		<a href="/productos/<%= product._id %>/editar">
			<button>Editar</button>
		</a>
	<% }; %>
<% }); %>